html {font-size:100%}

h1{
	font-size: 8vw;
}

img{
	width: 300px;
	display:block;
	margin: auto;
}

table{
	border-collapse: collapse;
	margin-bottom: 7px;
}

td 
{
    border: 1px solid grey; 
}

th{
	background-color: grey;
	font-weight: bold;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {


	td,th,tr,table,tbody{
		display: block;
		width: 100%;
	}
}

@media (-webkit-min-device-pixel-ratio: 2){

}